RewriteEngine On
RewriteRule ^index\.html$ index.php
RewriteRule ^acceuil$ index.php
RewriteRule ^evenements$ evenements.php
RewriteRule ^evenements\.html$ evenements.php
<Files montoken.txt>
deny from all
</files>